@model CinemaMvc.Models.Atuacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da atuação</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AtorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
</p>
